<section class="py-12 scroll-m-20 w-full mx-auto container px-3 lg:max-w-4xl md:max-w-2xl">
	<h2 class="text-white text-3xl font-bold pb-6">
		<i class="fa-solid fa-user"></i> Sobre mí
	</h2>
	<article class="flex flex-col justify-center p-2">
		<p class="mt-4 text-xl text-gray-800 dark:[&>strong]:text-[#ff983f] [&>strong]:text-[#ff983f] [&>strong]:font-semibold dark:text-gray-300">
			Mi nombre es <strong>Steven Araya González</strong>. Mi incursión en el mundo de la programación se dio gracias a mi carrera universitaria. Si
			bien al principio no me atraía la idea, con el paso del tiempo y motivado por una pasantía, descubrí <strong
				>mi pasión por el desarrollo web.</strong
			>
		</p>
		<p class="mt-4 text-xl text-gray-800 dark:[&>strong]:text-[#ff983f] [&>strong]:text-[#ff983f] [&>strong]:font-semibold dark:text-gray-300">
			Ingresé a una empresa del sector donde aprendí valiosas lecciones y confirmé mi gusto por esta área. Decidido a seguir creciendo en este ámbito,
			<strong>comencé a trabajar de forma profesional</strong> incluso antes de finalizar mi carrera, gracias a las <strong>buenas referencias</strong
			> que un profesor brindó sobre mí.
		</p>
		<p class="mt-4 text-xl text-gray-800 dark:[&>strong]:text-[#ff983f] [&>strong]:text-[#ff983f] [&>strong]:font-semibold dark:text-gray-300">
			En la actualidad, poseo una <strong>amplia experiencia en desarrollo web</strong> y me apasiona profundamente lo que hago. Me considero un profesional
			proactivo, en constante aprendizaje y con un gran entusiasmo por seguir evolucionando en este apasionante campo.
		</p>
	</article>
</section>
