<header class="px-4">
    <nav class="flex justify-center p-2">
        <ul class="flex flex-row gap-4 bg-[#929292] rounded-full px-5 py-1.5">
            <li>
                <a href="#sobremi" class="text-[#ff983f] hover:text-[#ff983f] md:font-semibold">Sobre mí</a>
            </li>
            <li>
                <a href="#experiencia" class="text-white hover:text-[#ff983f] md:font-semibold">Experiencia</a>
            </li>
            <li>
                <a href="#proyectos" class="text-white hover:text-[#ff983f] md:font-semibold">Proyectos</a>
            </li>
            <li>
                <a href="#contacto" class="text-white hover:text-[#ff983f] md:font-semibold">Contacto</a>
            </li>
        </ul>
    </nav>
</header>