<section class="py-12 scroll-m-20 w-full mx-auto px-3 container lg:max-w-4xl md:max-w-2xl">
    <h2 class="text-white text-3xl font-bold">
        <i class="fa-solid fa-briefcase"></i> Experiencia laboral
    </h2>
    <article>
        <div class="flex flex-col pt-4">
            <div class="flex justify-between">
                <a href="https://tic-servicios.com/" class="text-xl font-bold text-[#ff983f]">Tic-servicios</a>
                <p class="text-gray-400">2023 - Actualidad</p>
            </div>
            <p class="text-white">Junior - Full Stack Developer</p>
            <p class="text-gray-300">Desarrollo de aplicaciones web, mantenimiento y soporte técnico a los sistemas de la empresa.</p>
            <div class="flex flex-col pt-6">
                <div class="flex justify-between">
                    <a href="https://cococo.co.cr/" class="text-xl font-bold text-[#ff983f]">COCOCO</a>
                    <p class="text-gray-400">8 meses - Practica profesional</p>
                </div>
                <p class="text-white">Junior - Full Stack Developer</p>
                <p class="text-gray-300">
                    Desempeñé un papel clave en el desarrollo de una aplicación interna de seguimiento de incidencias, donde diseñé e implementé funciones
                    para la captura de incidencias, asignación a usuarios y notificaciones a través de Telegram o correo electrónico para recordatorios. Este
                    proyecto se llevó a cabo utilizando tecnologías como Laravel tanto para el backend como para el frontend, y SQL Server para
                    gestionar eficazmente la base de datos.
                </p>
            </div>
        </div>
    </article>
</section>