---
const date = new Date();
const year = date.toLocaleDateString('es-ES', { year: 'numeric' });
---

<div class="flex justify-center py-12 scroll-m-20 w-full mx-auto px-3 container lg:max-w-4xl md:max-w-2xl">
	<span class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90"
		>©{year}
		<a href="https://www.linkedin.com/in/steven-araya-gonzalez-228aa0217/" class="hover:underline">Steven Araya</a>. Todos los derechos reservados
	</span>
</div>
